<form id="skill">
    <h5>Digite id (solamente para buscar, actualizar o 
eliminar): </h5><input type="text" name="id" 
placeholder="Ingrese id">
   <h5>Nombre skill </h5><input type="text" name="nombre" 
placeholder="Ingrese el nombre">
<br><br><br>
    <input type="submit" data-valor="posts" value="Enviar">
    <input type="submit" data-valor="gets" value="Obtener">
    <input type="submit" data-valor="puts" value="actualizar">
    <input type="submit" data-valor="deletes" 
value="eliminar">
    <input type="submit" data-valor="searchs" value="buscar">
</form>