<form id="teams">
    <h5>Digite id (solamente para buscar, actualizar o 
eliminar): </h5><input type="text" name="id" 
placeholder="Ingrese id">
   <h5>Nombre</h5><input type="text" name="nombre" 
placeholder="Ingrese el nombre">
    <h5>Trainer asociado</h5><input type="text" 
name="trainer" placeholder="Ingrese el numero de 
identificacion">
<br><br><br>
    <input type="submit" data-valor="postt" value="Enviar">
    <input type="submit" data-valor="gett" value="Obtener">
    <input type="submit" data-valor="putt" value="actualizar">
    <input type="submit" data-valor="deletet" 
value="eliminar">
    <input type="submit" data-valor="search" value="buscar">
</form>
